---
- name: Set the system's hostname to the inventory_hostname
  hostname:
    name: "{{ inventory_hostname }}"
  become: true

- name: Update serverName in server.conf and host in inputs.conf
  ini_file:
    path: "{{ splunk_home }}/etc/system/local/{{ item.file }}"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ inventory_hostname }}"
    owner: "{{ splunk_nix_user }}"
    group: "{{ splunk_nix_group }}"
    mode: 0644
  become: true
  notify: restart splunk
  loop:
    - { file: "server.conf", section: "general", option: "serverName" }
    - { file: "inputs.conf", section: "default", option: "host" }
