- name: Install splunk.secret from file
  copy:
    src: "{{ splunk_secret_file }}"
    dest: "{{ splunk_home }}/etc/auth/splunk.secret"
    owner: "{{ splunk_nix_user }}"
    group: "{{ splunk_nix_group }}"
    mode: 0644
  become: true
  notify: restart splunk
  when: splunk_configure_secret and splunk_secret_file is defined

- name: Install splunk.secret from text
  template:
    src: splunk.secret.j2
    dest: "{{ splunk_home }}/etc/auth/splunk.secret"
    owner: "{{ splunk_nix_user }}"
    group: "{{ splunk_nix_group }}"
    mode: 0644
  become: true
  notify: restart splunk
  when: splunk_configure_secret and splunk_secret_text is defined

