---
#  This task should be used for fresh installations of Splunk, refer to upgrade_splunk.yml for upgrades
- name: Install Required Packages
  ansible.builtin.include_tasks: prereqs.yml

- name: Block for non-root splunk user setup
  block:
    - name: Add nix splunk group
      ansible.builtin.group:
        name: "{{ splunk_nix_group }}"
        state: present
        local: "{{ local_os_group }}"
      become: true

    - name: Add nix splunk user
      ansible.builtin.user:
        name: "{{ splunk_nix_user }}"
        group: "{{ splunk_nix_group }}"
        home: "{{ splunk_home }}"
        state: present
        shell: /bin/bash
        local: "{{ local_os_user }}"
      become: true

    - name: Allow splunk user to read /var/log
      ansible.builtin.include_tasks: configure_facl.yml

    - name: Configure .bash_profile and .bashrc for splunk user
      ansible.builtin.include_tasks: configure_bash.yml

  when: splunk_nix_user != 'root'

- name: Configure OS to disable THP and increase ulimits for splunk process
  ansible.builtin.include_tasks: configure_os.yml

- name: Include download and unarchive task
  ansible.builtin.include_tasks: download_and_unarchive.yml

- name: Include configure splunk.secret task to standardize splunk.secret
  ansible.builtin.include_tasks: configure_splunk_secret.yml
  when: splunk_configure_secret

- name: Include configure deployment client task
  ansible.builtin.include_tasks: configure_deploymentclient.yml
  when:
    - clientName != 'undefined'
    - splunk_uri_ds != 'undefined'

- name: Include configure user-seed task
  ansible.builtin.include_tasks: configure_user-seed.yml
  when:
    - splunk_admin_password != 'undefined'

- name: Include configure default authentication.conf for AD authentication and admin role mapping
  ansible.builtin.include_tasks: configure_authentication.yml
  when:
    - splunk_configure_authentication
    - ad_bind_password != 'undefined'

- name: Include custom management port task
  ansible.builtin.include_tasks: configure_custom_mgmt_port.yml
  when: splunkd_port != '8089'

- name: Include disable management port task
  ansible.builtin.include_tasks: configure_disable_mgmt_port.yml
  when: splunk_disable_mgmt_port

- name: Include accept license task
  ansible.builtin.include_tasks: splunk_license_accept.yml

- name: Enable boot start
  ansible.builtin.include_tasks: configure_splunk_boot.yml

- name: Include post-install tasks
  ansible.builtin.include_tasks: post_install.yml
