---
- name: Login to splunk
  ansible.builtin.command: "{{ splunk_home }}/bin/splunk login -auth {{ splunk_auth }}"
  register: splunk_authenticated
  failed_when: splunk_authenticated.rc != 0
  changed_when: false
  no_log: true

- name: Set Authenticated variable
  ansible.builtin.set_fact:
    splunk_authenticated: true
