---
# This task is called by check_splunk.yml to perform splunk upgrades. Do not run this task directly as check_splunk.yml will stop splunk first.
- name: Configure .bash_profile and .bashrc for splunk user
  include_tasks: configure_bash.yml
  when: splunk_nix_user != 'root'

- name: Configure OS to disable THP and increase ulimits for splunk process
  include_tasks: configure_os.yml

- name: Include task to kill any stale splunkd processes
  include_tasks: adhoc_kill_splunkd.yml

- name: Include download and unarchive task
  include_tasks: download_and_unarchive.yml

- name: Enable boot start
  include_tasks: configure_splunk_boot.yml

- name: Include mongod tasks to ensure it's in a good state
  include_tasks: adhoc_fix_mongo.yml
  when: "'full' in group_names"

- name: Include post-install tasks
  include_tasks: post_install.yml
