# Place your authentication.conf here
# Suggest using a variable for this line:
# bindDNpassword = {{ ad_bind_password }}
# and encrypting ad_bind_password using ansible-vault encrypt_string, e.g. ansible-vault encrypt_string --ask-vault-pass 'var_value_to_encrypt' --name 'var_name'
