# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
export PS1='[\u@\H:$( pwd )]\$ '
export SPLUNK_HOME={{ splunk_home }}
export PATH=$SPLUNK_HOME/bin:$PATH

if [ -f  $SPLUNK_HOME/share/splunk/cli-command-completion.sh ]; then
        . $SPLUNK_HOME/share/splunk/cli-command-completion.sh
fi
