[defaults]
inventory_enabled = yaml, host_list, ini, script
internal_poll_interval = 0.001
inventory = hosts
host_key_checking = False
timeout = 60
Forks = 50
transport = paramiko
# To use slack notification, make sure you do this first: easy_install prettytable
# callback_whitelist = slack, splunk

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=7200s -o PreferredAuthentications=publickey -o StrictHostKeyChecking=no
scp_if_ssh = True
timeout = 10
retries = 5
# Tip: Disable pipelining when you get "sudo: sorry, you must have a tty to run sudo\n" - disabled is MUCH slower but more compatible
pipelining=True

#[callback_slack]
#webhook_url = https://hooks.slack.com/services/<token>
#channel = #channel_here
#username = splunk_ansible

#[callback_splunk]
#url = https://my-hec-target/services/collector/event?channel=<insert-guid-for-channel-here>
#authtoken = <insert-auth-token-here>
