name: Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install ansible-lint yamllint

      - name: Run yamllint
        continue-on-error: true
        run: yamllint .

      - name: Run ansible-lint
        continue-on-error: true
        run: ansible-lint --offline roles/ playbooks/ environments/
